<div class="col-sm-12">
  <div class="panel panel-default devise-bs">
    <div class="panel-heading">
      <h4>Update profile</h4>
    </div>
    <div class="panel-body">
      <%= form_for(@user) do |f| %>
        <div class="form-group">
          <%= f.label :user_name %>
          <%= f.text_field :user_name, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :user_avatar %>
          <img src= <%= current_user.user_avatar %> class="img-responsive" width=90 height=90 >
          <%= f.file_field :user_avatar %>
        </div>
        <div class="form-group">
          <%= f.label :user_gender %>
          <%= f.select :user_gender, options_for_select(["Male", "Female"]), class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :user_birthday %>
          <%= f.date_select :user_birthday, start_year: 1900, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :user_address %>
          <%= f.text_field :user_address, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.hidden_field :email, value: current_user.email, class: 'form-control' %>
        </div>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>