<div class="container navigation-bar">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href=<%= root_path %> >SOCIAL-HUB</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><a data-no-turbolink="true" rel="nofollow" data-method="delete" href= <%= destroy_user_session_path %> >Sign out</a></li>
        <li><a href=<%= edit_user_registration_path %> >Settings</a></li>
      <% else %>
        <li><a href=<%= new_user_session_path %> >Sign in</a></li>
        <li><a href=<%= new_user_registration_path %> >Sign up</a></li>
      <% end %>
    </ul>
  </div><!--/.nav-collapse -->
</div>