<ul>
  <li class="facebook-connect">
    <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
    <span class="account"><%= link_to "<h4>Facebook</h4>".html_safe, user_facebook_omniauth_authorize_path %></span>
    <span class="other_account"><%= link_to "<p>show profile</p>".html_safe, social_index_path(:provider => "facebook"), remote: true %></span>
  </li>
  <li class="twitter-connect">
    <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
    <span class="account"><%= link_to "<h4>Twitter</h4>".html_safe, user_twitter_omniauth_authorize_path %></span>
    <span class="other_account"><%= link_to "<p>show profile</p>".html_safe, social_index_path(:provider => "twitter"), remote: true %></span>
  </li>
  <li class="googleplus-connect">
    <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
    <span class="account"><%= link_to "<h4>Google plus</h4>".html_safe, user_google_oauth2_omniauth_authorize_path %></span>
    <span class="other_account"><%= link_to "<p>show profile</p>".html_safe, social_index_path(:provider => "google_oauth2"), remote: true %></span>
  </li>
  <li class="instagram-connect">
    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
    <span class="account"><%= link_to "<h4>Instagram</h4>".html_safe, user_instagram_omniauth_authorize_path %></span>
    <span class="other_account"><%= link_to "<p>show profile</p>".html_safe, social_index_path(:provider => "instagram"), remote: true %></span>
  </li>
</ul>