<div class="row">
  <div class="col-sm-4 avatar">
    <img src= <%= current_user.user_avatar %> class="img-responsive" >
  </div>
  <div class="col-sm-8">
    <div id="user_name">
      <h4>User name: <%= current_user.user_name %></h4>
      <br/>
    </div>

    <div id="user_email">
      <h4>Email: <%= current_user.email %></h4>
      <br/>
    </div>

    <div id="user_gender">
      <h4>Gender: <%= current_user.user_gender %></h4>
      <br/>
    </div>

    <div id="user_birthday">
      <h4>Birth day: <%= current_user.user_birthday %></h4>
      <br/>
    </div>
    <div id="user_address">
      <h4>Address: <%= current_user.user_address %></h4>
      <br/>
    </div>
  </div>
</div>
<div class="row">
  <%= link_to "Edit profile", edit_user_path(current_user.id), remote: true, class: "btn btn-primary pull-right" %>
</div>