<div class="row">
  <div class="col-sm-4 avatar">
    <img src= <%= user_avatar %> class="img-responsive">
  </div>
  <div class="col-sm-8">
    <div id="user_name">
      <h4>User name: <%= user_name %></h4>
      <br/>
    </div>
    <div id="user_gender">
      <h4>Gender: <%= user_gender %></h4>
      <br/>
    </div>

    <div id="user_birthday">
      <h4>Birth day: <%= user_birthday %></h4>
      <br/>
    </div>
    <div id="user_address">
      <h4>Address: <%= user_address %></h4>
      <br/>
    </div>
  </div>
</div>
<div class="row">
  <%= link_to "Sync data to my account", social_update_path(avatar: user_avatar,name: user_name, gender: user_gender, birthday: user_birthday, address: user_address), method: :patch , class: "btn btn-primary pull-right" %>
</div>