
<div class="row">
  <div class="col-sm-3" id="left-side">
    <div class="row">
        <%= render "full_account" %>
    </div>

    <div class="row" id="myprofile">
      <%= link_to "My profile", social_show_profile_path(:provider => "main"), remote: true, class: "btn btn-primary pull-right" %>
    </div>
  </div>

  <div class="col-sm-9" id="right-side">
    <div class="row" id="profile">
      <% if flash[:notice] %>
        <div class="alert alert-warning"><%= flash[:notice] %></div>
      <% end %>
      <%= render "main_profile" %>
    </div>
  </div>
</div>