<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default devise-bs">
    <div class="panel-heading">
      <h4><%= t('.sign_in', default: 'Sign in') %></h4>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="checkbox">
            <%= f.label :remember_me do %>
              <%= f.check_box :remember_me %> <%= t('.remember_me', default: 'Remember me') %>
            <% end %>
          </div>
        <% end %>
        <%= f.submit  t('.sign_in', default: 'Sign in'), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="sign_in">
    <ul>
        <li class="facebook-connect">
          <span class="account"><%= link_to "<i class='fa fa-facebook fa-3x' aria-hidden='true'></i>".html_safe, user_facebook_omniauth_authorize_path %></span>
        </li>
      <li class="twitter-connect">
        
        <span class="account"><%= link_to "<i class='fa fa-twitter fa-3x' aria-hidden='true'></i>".html_safe, user_twitter_omniauth_authorize_path %></span>
      </li>
      <li class="googleplus-connect">
        <span class="account"><%= link_to "<i class='fa fa-google-plus fa-3x' aria-hidden='true'></i>".html_safe, user_google_oauth2_omniauth_authorize_path %></span>
      </li>
      <li class="instagram-connect">
        <span class="account"><%= link_to "<i class='fa fa-instagram fa-3x' aria-hidden='true'></i>".html_safe, user_instagram_omniauth_authorize_path %></span>
      </li>
    </ul>
  </div>
</div>