.navigation-bar{
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

#left-side{
  border-right: 2px solid black;
  height: 500px;
}
#right-side{
  height: 500px;
}
a h4{
  color: black;
}
span.acccount{
  display: inline-block;
}
span.other_account{
  display: inline-block;
}
#left-side ul{
  list-style-type: none;
}
#left-side ul li{
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}
.avatar img{
  margin: 0 20px;
  width: 250px;
  height: 250px;
}
#myprofile{
  padding-bottom: 20px;
}